/* Animation mixins */
@mixin fade-in($duration: 1s) {
  animation: fade-in $duration ease-in; /* updated here */
}

@keyframes fade-in { /* updated here */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.button {
  @include fade-in(0.5s);
}