/* Normalize to ensure consistent styling across browsers */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%; /* 16px */
}

body {
  background-color: #f4f4f4;
  color: #333;
  font-family: Arial, sans-serif;
}