/* Color palette */
$primary-color: #3498db;
$secondary-color: #2ecc71;
$primary-text-color: #333;
$background-color: #f9f9f9;

/* _colors.scss */
$primary-text-color: #333; /* Define the primary text color */